
.margin_two_inputs{
  margin-top: 0px;
}

md-card{
  min-height: 620px;
}

.card-packs{
  height:auto;
  display: block;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  margin-bottom: 20px;
}
.card-addons{
  height:auto;
  display: block;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  margin-bottom: 20px;
}
.md-title-card{
  color:white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .005em;
}

.toolbar-packs{
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 2;
  font-size: 20px;
  width: 100%;
  background-color:#E3F2FD;

  height:40px;
}
.container-addon{
  margin:0px;
  padding:0px;
}
.addon-select{
  margin:0px;
}
.selection{
  background-color:#82b1ff;
  text-align:center;
}
.selected-plan{
  background-color:white;
  color:#82b1ff;
}
.temporary{
  padding-left: 45px;
}
.temporary_button{
  padding-left: 25px;
}
.discount{
  background-color:#E3F2FD;
  width:100%;
  margin:0px;
}
