
.margin_two_inputs{
  margin-top: 0px;
}

.step{
  height: 500px;
}

.card-packs{
  height:auto;
  display: block;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  margin-bottom: 20px;
}
.card-addons{
  height:auto;
  display: block;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  margin-bottom: 20px;
}


.toolbar-packs{
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 2;
  font-size: 20px;
  width: 100%;
  background-color:#E3F2FD;

  height:40px;
}
.container-addon{
  margin:0px;
  padding:0px;
}
.addon-select{
  margin:0px;
}
.selection{
  background-color:#82b1ff;
  text-align:center;
  color:white;

}
.selected-plan{
  background-color:white;
  color:#82b1ff;
}
.temporary{
  padding-left: 45px;
}
.temporary_button{
  padding-left: 25px;
}
.discount{
  background-color:#E3F2FD;
}
.md-subheader{
  background-color:#E3F2FD;
  margin-bottom:10px;
  margin-top:10px
}
.md-title-card{
  padding-left:16px;
}


.action{
  float:right;
  margin-right:30px;
}
.action-back{
  float:left;
  margin-left:30px;
  margin-top: 2px;
}
footer{

  margin-top:10px;
}
.own_button{
  background-color:white;
  border: solid 1px rgb(255,82,82);
  color:rgb(255,82,82)!important;
}

.space{
  padding-top:18px;
  padding-bottom:18px;
}
.space-up{
  margin-top:28px;
}
.space-down{
  margin-bottom:28px;
}
.input-down{
  margin-bottom: 0px;
}
.input-up{
  margin-top: 0px;
}
.date-alignment{
  margin-top:-56px;
}
.border-benefits {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}
.preselect:hover{
  background-color:#E3F2FD;

}
.plan-name{
color:rgb(33, 150, 243);
  font-style: italic;
}
.category-summary {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  margin-bottom:10px;
  margin-top: 10px;
}


.details{
  font-size: 12px;
}
.accordion{
  border-bottom:solid 1px rgb(33, 150, 243);
}
.icon-benefits{

  margin-right:5px;
  font-size:20px;
  color:#666666;
}
.benefits-plan{
  padding:5px;
}
.selection-mobile{
  background-color:#82b1ff;
  text-align:center;

}
