<md-content class="md-padding" style="background-image: url('/images/bg.jpg'); background-repeat: no-repeat; height: 78%; background-position-x: right;">
  <div layout="row"  layout-xs="column"  layout-margin>
    <div flex layout="column" flex-xs="100">
  <md-toolbar class="md-primary">
          <md-title layout-margin layout-padding>Add custom packs</md-title>
        </md-toolbar>
      <md-content class="step" layout-padding>
        <div class="card-packs" ng-repeat="p in plan.Packs">
          <div class="toolbar-packs" ng-class="p.IsSelected == true ? 'pack-selected' : ''">
            <div layout="row" layout-align="space-between center">
              <span class="md-subhead" layout-padding layout="end end" flex="70">{{p.__label.Title}}</span>
              <md-button class="md-icon-button" ng-show="p.IsSelected != true"><md-icon><i class="material-icons"  ng-click="p.IsSelected = true"  >add</i></md-icon></md-button>
              <md-button class="md-icon-button" ng-show="p.IsSelected == true"><md-icon><i class="material-icons"  ng-click="p.IsSelected = false">close</i></md-icon></md-button>
              </div>
          </div>
          <md-card-content><p>{{p.__label.SubTitle}}</p></md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="showPacks($event, p)">Know more</md-button>
          </md-card-actions>
        </div>
      </md-content>
  </div>
  <div flex="40" layout="column" flex-xs="100" >
      <md-toolbar class="md-primary">
          <md-title layout-margin layout-padding>Select add-ons</md-title>
        </md-toolbar>
      <md-content class="step" layout-padding>
        <div layout="column" class="card-addons" ng-repeat="a in plan.AddOns" layout-wrap>
          <div class="md-primary toolbar-packs" ng-class="a.IsSelected == true ? 'pack-selected' : ''">
            <div layout="row" layout-align="space-between center">
              <span class="md-subhead" layout-padding  flex="70">{{a.__label.Title}}</span>
            </div>
          </div>
          <div layout="row"  ng-show="a.Parameters" layout-align="space-between center" layout-padding>
                    <div ><span>Specify your addon</span></div>
                    <div flex="50"  ng-repeat="p in a.Parameters" class="container-addon">
                        <md-select  class="addon-select" ng-model="p.SelectedValue" required ng-show="p.Options.length > 0">
                          <md-option ng-repeat="opt in p.Options" value="{{opt.Value}}">{{opt.Name}}</md-option>
                        </md-select>
                    </div>
                  </div>
        </div>
      </md-content>
  </div>
  <div flex="25" layout="column" flex-xs="100">
      <md-toolbar class="md-primary">
            <md-title layout-margin layout-padding>Your quotation</md-title>

      </md-toolbar>
      <md-content class="step" layout-padding>
        <div>
          <h4 class="category-summary">Your plan</h4>
          <div layout="row">
            <div flex="60">
              <span>{{plan.__Name}}</span>
            </div>
            <div flex="40">
              <span>$ {{plan.UsualPremium}}</span>
            </div>
          </div>
        </div>
        <div>
          <h4 class="category-summary">Your packs & add-ons</h4>
          <div layout="row">
            <div flex="60">
              <span>Excess</span>
            </div>
            <div flex="40">
              <span>$120</span>
            </div>
          </div>
        </div>
        <div class="discount" >
          <h4 class="category-summary">Your discount</h4>

          <div layout="row" ng-repeat="discount in plan.Discounts">
            <div flex="60">
              <span>{{discount.__label}}</span>
            </div>
            <div flex="40">
              <span>$ {{discount.PayablePremium}}</span>
            </div>
          </div>
        </div>

        <div>
          <h4 class="category-summary">Total</h4>
          <div layout="row">
            <div flex="60">
              <span>including GST</span>
            </div>
            <div flex="40">
              <span><h4>$ {{plan.FinalPremium}}</h4></span>
            </div>
          </div>
        </div>
      </md-content>
  </div>
</div>
</md-content>

<footer >
  <md-button class=" md-raised md-accent action" href="#/policy"> Buy now</md-button>
  <md-button class=" md-raised  own_button action" ng-click="showAdvanced($event)"> Save & email my quote</md-button>
  <md-button aria-label="menu" class="md-fab md-mini md-primary action action-fab">
    <md-icon md-svg-src="images/ic_chat_bubble_white_24px.svg"></md-icon>
    <md-tooltip md-visible="demo.showTooltip" md-direction="left">
      Ask us a question
    </md-tooltip>
  </md-button>
  <md-button layout="row" layout="center center" class="md-primary action action-back" href="#/offer"><i class="material-icons">keyboard_arrow_left</i>Back</md-button>

</footer>
