
<md-content class="md-padding" layout-xs="column" layout="row">
<div layout="row" layout-sm="column" layout-wrap flex>

  <div flex="40" flex-sm="100">
      <md-card>
        <md-card-header class="md-padding">
          <md-card-header-text>
            <span class="md-title">Step 1 - Packs</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
        <div layout="row">
          <md-card ng-repeat="p in policy.packs" flex="50" layout-wrap>
            <md-card-title-text layout-padding>

              <span class="md-subhead">{{p.name}}</span>
                <md-button class="md-icon-button"><md-icon><i class="material-icons" >add</i></md-icon></md-button>
              <md-button class="md-icon-button"><md-icon><i class="material-icons">delete_sweep</i></md-icon></md-button>

            </md-card-title-text>
            <md-card-content> <p> {{p.panel_content}}</p></md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-click="showAdvanced($event)">Know more</md-button>
            </md-card-actions>
          </md-card>
        </div>
        </md-card-content>
      </md-card>
    </div>

  <div flex="35" flex-sm="100" >

    <md-card>
      <md-card-header class="md-padding">
        <md-card-header-text>
          <span class="md-title">Step 2 - Add-ons</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-content>
        <div layout="column">
          <md-card ng-repeat="RecordName in product.param.AddOns.RecordName" layout-padding layout-wrap>

              <div layout="row" >
                <div flex="70">
              <span class="md-subhead">{{RecordName.label}}</span>
                </div>
                <div flex="30">
              <md-button class="md-icon-button"><md-icon><i class="material-icons" >add</i></md-icon></md-button>
              <md-button class="md-icon-button"><md-icon><i class="material-icons">delete_sweep</i></md-icon></md-button>
                </div>
                </div>

           </md-card>
        </div>
      </md-card-content>
    </md-card>

  </div>
  <div flex="25" flex-sm="100" >

    <md-card>
      <md-card-header class="md-padding">
        <md-card-header-text>
          <span class="md-title">Your quote summary</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-content>
        <h4>Your plan</h4>
        <div layout="row">
          <div flex="60">
            <p>Flexi</p>
          </div>
          <div flex="40">
            <p>$1,208</p>
          </div>
        </div>
        <h4>Your packs</h4>
        <div layout="row">
          <div flex="60">
            <p>Overseas</p>
          </div>
          <div flex="40">
            <p>$208</p>
          </div>
        </div>
        <h4>Your add-ons</h4>
        <div layout="row">
          <div flex="60">
            <p>Excess</p>
          </div>
          <div flex="40">
            <p>$120</p>
          </div>
        </div>
        <h4>Your discount</h4>
        <div layout="row">
          <div flex="60">
            <p>Safe driver discount</p>
          </div>
          <div flex="40">
            <p>$120</p>
          </div>
        </div>
        <div layout="row">
          <div flex="60">
            <p>NDC 30%</p>
          </div>
          <div flex="40">
            <p>$370</p>
          </div>
        </div>
        <h4>Total</h4>
        <div layout="row">
          <div flex="60">
            <p>including GST</p>
          </div>
          <div flex="40">
            <h2>$708</h2>
          </div>
        </div>


      </md-card-content>
      <div layout="column">
        <md-button> purchase this insurance </md-button>
        <md-button> Save and email my quote </md-button>
      </div>
    </md-card>

  </div>
</div>


