<md-dialog aria-label="Claims" flex="auto">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="md-title-card">Claims history</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="/images/delete.svg" aria-label="Close dialog" ng-click="select()"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-actions>
      <div layout="column" layout-sm="column" flex layout-padding>
        <p>What was the total claimable amount? </p>
        <md-radio-group ng-model="policy.profil.TotalClaimAmount" layout="row" layout-padding>
          <div flex="33" ng-repeat="TotalClaimAmount in policy.param.TotalClaimAmount">
            <md-radio-button class="md-primary" ng-value="TotalClaimAmount.value">{{TotalClaimAmount.label}}
            </md-radio-button>
          </div>
        </md-radio-group>

        <div ng-show="policy.profil.TotalClaimAmount == '0'" class="space-up">
          <p>How many of these were non-windscreen claims?</p>
          <md-radio-group ng-model="policy.profil.NumberOfClaims" layout="row" layout-align="start center"
                          layout-padding>
            <div flex="33" ng-repeat="NumberOfClaims in policy.param.NumberOfClaims">
              <md-radio-button class="md-primary" ng-value="NumberOfClaims.value">{{NumberOfClaims.label}}
              </md-radio-button>
            </div>
        </div>
        <div ng-show="policy.profil.TotalClaimAmount == '0'" class="space-up">
          <p>How many of these were windscreen claims?</p>
          <md-radio-group ng-model="policy.profil.NumberOfWindscreenClaims" layout="row" layout-align="start center"
                          layout-padding>
            <div flex="33" ng-repeat="NumberOfWindscreenClaims in policy.param.NumberOfWindscreenClaims">
              <md-radio-button class="md-primary" ng-value="NumberOfWindscreenClaims.value">
                {{NumberOfWindscreenClaims.label}}
              </md-radio-button>
            </div>
        </div>
      </div>
    </md-dialog-actions>

    <div class="md-actions" layout="row">
      <md-button ng-click="cancel()" class="md-primary">
        cancel
      </md-button>
      <md-button ng-click="select()" class="md-primary">
        submit
      </md-button>
    </div>
  </form>
</md-dialog>
