<md-dialog aria-label="--"  flex="100">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{currentPack.__Benefits.Title}} - {{currentPack.__Benefits.SubTitle}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="/images/delete.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <p ng-repeat="b in currentPack.__Benefits.Benefits">{{b}}</p>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button ng-click="cancel()" class="md-primary">
        cancel
      </md-button>
      <md-button ng-click="select()" class="md-primary">
        submit
      </md-button>
    </div>
  </form>
</md-dialog>
