<md-dialog aria-label="Pack" flex="50">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="md-title-card">Offpeak Car Discount</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="/images/delete.svg" aria-label="Close dialog" ng-click="select()"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-actions>
      <div layout="column" layout-sm="column" flex layout-padding>
        <p>Offpeak car enjoys a 25% discount. AXA gives the highest discount on the market</p>
      </div>
    </md-dialog-actions>
    <div class="md-actions" layout="row">
      <md-button ng-click="select()" class="md-primary">
        Got it!
      </md-button>
    </div>
  </form>
</md-dialog>
