<md-dialog aria-label="Claims" flex="auto">
  <form>
  <md-toolbar >
    <div class="md-toolbar-tools" >
      <h2 class="md-title-card">Claims history</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <md-icon md-svg-src="/images/delete.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
    <md-dialog-actions>{{policy}}
        <p>What was the total claimable amount? </p>
        <md-radio-group ng-model="policy.profil.TotalClaimAmount" layout="row" layout-padding>
          <div flex="33" ng-repeat="TotalClaimAmount in policy.param.TotalClaimAmount">
          <md-radio-button class="md-primary"
                           ng-value="TotalClaimAmount.value">{{TotalClaimAmount.label}}
          </md-radio-button></div>
        </md-radio-group>

      <div ng-show="showClaims_number == true && showClaims_amount == true" class="space-up">
        <p>How many of these were non-windscreen claims?</p>
        <md-radio-group ng-model="policy.profil.NumberOfClaims" layout="row" layout-align="start center"
                        ng-click="CheckClaimsNumber($event)" layout-padding>
          <div flex="33" ng-repeat="NumberOfClaims in policy.param.NumberOfClaims">
          <md-radio-button class="md-primary"
                           ng-value="NumberOfClaims.value">{{NumberOfClaims.label}}
          </md-radio-button></div>
      </div>
      <div ng-show="showClaims_number == true && showClaims_amount == true" class="space-up">
        <p>How many of these were windscreen claims?</p>
        <md-radio-group ng-model="policy.profil.NumberOfWindscreenClaims" layout="row" layout-align="start center"
                        ng-click="CheckClaimsNumberWind($event)" layout-padding>
          <div flex="33" ng-repeat="NumberOfWindscreenClaims in policy.param.NumberOfWindscreenClaims"><md-radio-button class="md-primary"
                           ng-value="NumberOfWindscreenClaims.value">{{NumberOfWindscreenClaims.label}}
          </md-radio-button></div>
      </div>
   <!-- <div layout="column" layout-sm="column" flex layout-padding>
      <p>Our underwriting team will review your profile and come back to you within 48h. Kindly let us your contact details.</p>
      <md-input-container class="md-block" flex-gt-sm >
        <label>Your name</label>
        <input ng-model="driver.Age">
      </md-input-container>
      <form name="userForm">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Your email</label>
          <input name="email" ng-model="policyholder.email"
                 required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
          <div class="hint" ng-show="showHints"></div>

        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Your phone number</label>
          <input name="phone" ng-model="policyholder.phone"
                 required minlength="8" maxlength="8" ng-pattern="" />
          <div class="hint" ng-show="showHints"></div>
          <div ng-messages="userForm.phone.$error" ng-hide="showHints">
            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
              Enter a valid phone number.
            </div>
          </div>
        </md-input-container>
      </form>

    </div>-->
      </md-dialog-actions>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()" class="md-primary">
      cancel
    </md-button>
    <md-button ng-click="select()" class="md-primary">
      submit
    </md-button>
  </div>
  </form>
</md-dialog>
