<md-dialog aria-label="Pack" flex="50">
  <form>
  <md-toolbar >
    <div class="md-toolbar-tools" >
      <h2 class="md-title-card">Safe Driver Discount</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()">
        <md-icon md-svg-src="/images/delete.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
    <md-dialog-actions>
    <div layout="column" layout-sm="column" flex layout-padding>
      <p>Can you provide a certificate of merit and get a 10% off your insurance premium?</p>
      <md-radio-group ng-model="policy.profil.Certificate" layout="row" layout-padding>
        <md-radio-button ng-repeat="Certificate in policy.param.Certificate" ng-value="Certificate.value">{{Certificate.label}}</md-radio-button>
      </md-radio-group>

    </div>
      </md-dialog-actions>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()" class="md-primary">
      No, I can't
    </md-button>
    <md-button ng-click="select()" class="md-primary">
      Yes, I can
    </md-button>
  </div>
  </form>
</md-dialog>
