<md-content style="background-color:transparent;" flex="auto" >
  <div layout="row" layout-xs="column" layout-margin >
    <div flex="33"  flex-xs="100"  >

      <md-toolbar class="md-primary toolbar-border ">
        <md-title layout-margin layout-padding>Car details</md-title>
      </md-toolbar>
      <md-content class="step shadow" layout-padding>
        <div md-padding>
          <md-input-container class="md-block" flex-gt-sm>
            <label class="space-up"><a>Enter your car make and select the model</a></label>
            <input ng-model="carSearch" ng-keyup="algolia()" class="md-accent" required style="box-shadow:transparent;">
            <div ng-show="car.car_id == null">
              <div ng-repeat="hit in hits" ng-click="searchTo(hit)" class="preselect">{{hit.make}} {{hit.model}}</div>
            </div>
          </md-input-container>
          <div class="space-up">
            <p class="input-down">Are you insuring an off-peak car?</p>
            <md-radio-group ng-model="policy.profil.Vehicle.OffPeakCar"
                            ng-change="checkOffpeak($event,policy.profil.Vehicle.OffPeakCar)" layout="row"
                            layout-align="start center" layout-padding>
              <div flex="33" ng-repeat="OffPeakCar in policy.param.Vehicle.OffPeakCar">
                <md-radio-button class="md-accent" ng-value="OffPeakCar.value">{{OffPeakCar.label}}
                </md-radio-button>
              </div>
            </md-radio-group>
          </div>
          <div class="space-up">
            <p class="input-down">Which year was your car manufactured?</p>
            <section layout="row" layout-sm="column" layout-align="space-around center" flex layout-wrap layout-padding>
              <md-button class="button-choice shadow" ng-click="rangeYearOfmake = 0" ng-show="rangeYearOfmake == 1"> <<
              </md-button>
              <md-button class="button-choice shadow "
                         ng-repeat="YearOfMake in policy.param.Vehicle.YearOfMake[rangeYearOfmake]"
                         ng-click="policy.profil.Vehicle.YearOfMake = YearOfMake.year"
                         ng-class="policy.profil.Vehicle.YearOfMake == YearOfMake.year ? 'selection' : '' ">
                {{YearOfMake.year}}
              </md-button>
              <md-button class="button-choice shadow" ng-click="rangeYearOfmake = 1" ng-show="rangeYearOfmake == 0"> >>
              </md-button>
            </section>
          </div>
        </div>
      </md-content>
    </div>
    <div flex="33"  flex-xs="100"  style="width:100%;">
      <md-toolbar  class="md-primary toolbar-border">
        <md-title layout-margin layout-padding>Driver details</md-title>
      </md-toolbar>
      <md-content class="step shadow" layout-padding>

        <md-tabs md-dynamic-height md-border-bottom md-autoselect >
          <md-tab ng-repeat="driver in policy.profil.Drivers" >
            <md-tab-label >
            <div layout="row" class="md-accent"><i class="material-icons md-accent">person</i>
              <a style="font-size:10px;" >{{driver.__label}}</a>
            </div>
          </md-tab-label>
            <md-tab-body>
              <div md-padding class="space-up">
                <p class="input-down">Gender of the driver</p>
                <md-radio-group layout="row" ng-model="driver.Gender" layout="row" layout-align="start center"
                                layout-padding>
                  <div flex="33" ng-repeat="param in policy.param.Drivers.Gender">
                    <md-radio-button class="md-accent"
                                     ng-value=param.value>{{param.label}}
                    </md-radio-button>
                  </div>
                </md-radio-group>
              </div>
              <div md-padding class="space-up" ng-hide="driver.Relationship == 'MARRIED'">
                <p class="input-down">Is the driver married?</p>
                <md-radio-group ng-model="driver.MaritalStatus" layout="row" layout-align="start center"
                                layout-padding>
                  <div flex="33" ng-repeat="param in policy.param.Drivers.MaritalStatus">
                    <md-radio-button class="md-accent"
                                     ng-value=param.value >{{param.label}}
                    </md-radio-button>
                  </div>
                </md-radio-group>
              </div>

              <div md-padding class="space-up" ng-show="policy.profil.Drivers.length >= 2 && driver.MaritalStatus == 'MARRIED'">
                <p class="input-down">Is this your spouse?</p>
                <md-radio-group ng-model="driver.Spouse" layout="row" layout-align="start center"
                                layout-padding>
                  <div flex="33" ng-repeat="param in policy.param.Drivers.Spouse">
                    <md-radio-button class="md-accent"
                                     ng-value=param.value>{{param.label}}
                    </md-radio-button>
                  </div>
                </md-radio-group>
              </div>
              <md-input-container class="md-block input-down input-down" flex-gt-sm>
                <label><a>How old is the driver?</a></label>
                <input class="md-accent" ng-model="driver.Age" required>
              </md-input-container>
              <div layout="row">
                <md-input-container class="md-block input-down" flex-gt-sm flex="70">
                  <label><a>Which year did you get your driving license?</a></label>
                  <input ng-model="driver.license" required>
                </md-input-container>
                <div md-input-container class="margin_two_inputs" flex="30" ng-show="driver.license >='2015'">
                  <p class="md-caption" style="margin-top: 0px;">Month</p>
                  <md-select style="margin-top: -10px;" ng-model="driver.licenseMonth" required>
                    <md-option ng-repeat="m in months" value="{{m}}">{{m}}</md-option>
                  </md-select>
                  </md-input-container>
                </div>
              </div>
              <div layout="row" layout-align="end center">
                <md-button layout="row" class="md-secondary" ng-click="removeDriver($index)" ng-show="$index > 0">Remove
                  {{driver.__label}}
                </md-button>
                <md-button layout="row" class="md-accent" ng-click="addDriver()" ng-show="isAddDriverEnable()"><i
                  class="material-icons" style=" padding-right: 8px;">person_add</i> Add a driver
                </md-button>
              </div>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
    <div flex="33" hide-xs hide-sm  style="margin-left: -32.7%;" ng-show="!step2IsVisible()">
      <md-toolbar  class="md-primary toolbar-border" style="width: 100%">
        <md-title layout-margin layout-padding>Driver details</md-title>
      </md-toolbar>
      <md-content class="step" layout-padding style="background-color: rgba(255,255,255,0.70) !important; ">
      </md-content>
    </div>
    <div flex="33"  flex-xs="100"  >
      <md-toolbar class="md-primary toolbar-border">
        <md-title layout-margin layout-padding>Driving experience</md-title>
      </md-toolbar>
      <md-content class="step shadow" layout-padding>
        <div md-padding class="space-up">
          <p class="input-down">What is your non-claim discount bonus?</p>
          <section layout="row" layout-sm="column" layout-align="space-around center" flex layout-wrap layout-padding>
            <md-button  ng-model="policy.profil.NCDPoints" class="button-choice shadow" ng-repeat="NCDPoints in policy.param.NCDPoints"
                       ng-click="checkNCD($event, NCDPoints.value)"
                       ng-class="policy.profil.NCDPoints == NCDPoints.value ? 'selection' : '' ">{{NCDPoints.label}}
            </md-button>
          </section>
          <div md-padding class="space-up" ng-hide="policy.profil.NCDPoints == '50'">
            <p class="input-down" >Have you made any claims in the past 3 years?</p>
            <md-radio-group ng-model="policy.profil.ClaimsPast3Years" layout="row" layout-align="start center"
                            ng-change="CheckClaims($event)" class="md-accent" layout-padding>
              <div flex="33" ng-repeat="ClaimsPast3Years in policy.param.ClaimsPast3Years">
                <md-radio-button class="md-accent" ng-value="ClaimsPast3Years.value">{{ClaimsPast3Years.label}}
                </md-radio-button>
              </div>
            </md-radio-group>
          </div>
          <p style="margin-bottom: 10px;">Cover my car from </p>
          <div layout="row"  style="padding:0px;">

            <md-datepicker ng-model="policy.PolicyStartDate" md-placeholder="Enter date" md-min-date="inceptionDate.min"
                           md-max-date="inceptionDate.max" ng-change="updatePolicyEndDate()" layout-wrap></md-datepicker>
            <p style="margin-bottom: 10px; margin-left:20px;">to</p>
            <md-datepicker ng-model="policy.PolicyEndDate" md-placeholder="Enter date"></md-datepicker>
          </div>
        </div>

      </md-content>
    </div>
    <div flex="33" hide-xs hide-sm  style="margin-left: -32.7%;" ng-show="!step3IsVisible()">
      <md-toolbar  class="md-primary toolbar-border" style="width: 100%">
        <md-title layout-margin layout-padding>Driving experience</md-title>
      </md-toolbar>
      <md-content class="step" layout-padding style="background-color: rgba(255,255,255,0.70) !important;">
      </md-content>
    </div>

  </div>

  <footer>

    <md-button class=" md-raised md-primary action" href="#/offer" ng-disabled="!offerIsEnabled()"
               ng-hide="policy.profil.ClaimsPast3Years == true ">
      Show me the quote
    </md-button>

    <md-button class=" md-raised md-primary action" href="#/referral" ng-disabled="!referralIsEnabled()"
               ng-show="policy.profil.ClaimsPast3Years == true">
      Show me the quote
    </md-button>
    <md-button aria-label="menu" class="md-fab md-mini md-primary action action-fab">
      <md-icon md-svg-src="images/webchat.svg"></md-icon>
      <md-tooltip  class="white-tooltip" md-visible="demo.showTooltip" md-direction="left">
        Ask us a question
      </md-tooltip>
    </md-button>
  </footer>
</md-content>



