
<md-content class="md-padding" >
<div layout="row"  layout-xs="column">
  <div flex="33" flex-xs="100">
      <md-card>
        <md-card-header class="md-padding">
          <md-card-header-text>
            <span class="md-title">Step 1 - Car details</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <p>Is your car an off-peak car? </p>
          <md-radio-group ng-model="policy.profil.Vehicle.OffPeakCar" layout="row" layout-padding>
            <md-radio-button ng-repeat="OffPeakCar in policy.param.Vehicle.OffPeakCar" ng-value="OffPeakCar.value">{{OffPeakCar.label}}</md-radio-button>
          </md-radio-group>
          <p ng-show="policy.profil.Vehicle.OffPeakCar == true">Enjoy 25% off your premium</p>
          <md-input-container class="md-block" flex-gt-sm >
            <label>Enter your car make and model</label>
            <input ng-model="car.make" ng-keyup="algolia()">
            <div ng-show="car.car_id == null">
            <div ng-repeat="hit in hits" ng-click="searchTo(hit.make + ' ' + hit.model, hit.item)">
                {{hit.make}} {{hit.model}}
            </div>
            </div>
          </md-input-container>
          <p>Select your car manufacturing year </p>
          <md-radio-group ng-model="policy.profil.Vehicle.YearOfMake" layout="row" layout-sm="column"  flex layout-wrap layout-padding>
            <md-radio-button ng-repeat="YearOfMake in policy.param.Vehicle.YearOfMake" value="{{YearOfMake.year}}" ng-click="flowOne()">{{YearOfMake.year}}</md-radio-button>
          </md-radio-group>
        </md-card-content>
      </md-card>
    </div>
  <div flex="33" flex-xs="100" >
    <form>
      <fieldset ng-disabled="!flow['step2']">
    <md-card >
      <md-card-header class="md-padding">
        <md-card-header-text>
          <span class="md-title">Step 2 - Driver details</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-content >
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab ng-repeat="driver in policy.profil.Drivers">
            <md-tab-label >
            <div layout="row"><i class="material-icons">person</i><a style="font-size:10px;">{{policy.param.Drivers.Title[$index].label}}</a></div></md-tab-label>
            <md-tab-body>
              <div>
            <p>What is your gender? </p>
              <md-radio-group ng-model="driver.Gender" layout="row" layout-padding>
                <md-radio-button ng-repeat="param in policy.param.Drivers.Gender" ng-value=param.value>{{param.label}}</md-radio-button>
              </md-radio-group>
              <p>Are you married?</p>
              <md-radio-group ng-model="driver.MaritalStatus" layout="row" layout-padding>
                <md-radio-button ng-repeat="param in policy.param.Drivers.MaritalStatus" ng-value=param.value>{{param.label}}</md-radio-button>
              </md-radio-group>
              <md-input-container class="md-block" flex-gt-sm >
              <label>How old are you?</label>
              <input ng-model="driver.Age">
            </md-input-container>
              <div layout="row">
              <div flex="70">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>When was your driving license issued?</label>
                  <input ng-model="driver.license">
                </md-input-container >
              </div>
                <div flex="30" ng-show="driver.license >='2015'">

                  <md-input-container ng-show="driver.license >='2015'">
                    <label>Month</label>
                    <md-select ng-model="driver.licenseMonth" required>
                      <md-option ng-repeat="m in months" value="{{m}}">{{m}}</md-option>
                    </md-select>
                  </md-input-container>

                </div>
              </div>
              </div>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </md-card-content>
    </md-card>
      </fieldset>
    </form>
  </div>
  <div flex="33" flex-xs="100" >
    <md-card>
      <md-card-header class="md-padding">
        <md-card-header-text>
          <span class="md-title">Step 3 - Driving experience</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-content>
        <p>What is your non claim discount bonus?</p>
        <md-radio-group ng-model="policy.profil.NCDPoints" layout="row" layout-sm="column" flex layout-wrap layout-padding>
          <md-radio-button ng-repeat="NCDPoints in policy.param.NCDPoints" ng-value="NCDPoints.value" ng-click="checkNCD(NCDPoints.value)">{{NCDPoints.label}}</md-radio-button>
        </md-radio-group>
        <p>Did you have any claims in the past 3 years? </p>
        <md-radio-group ng-model="policy.profil.ClaimsPast3Years" layout="row">
          <md-radio-button ng-repeat="ClaimsPast3Years in policy.param.ClaimsPast3Years" ng-value="ClaimsPast3Years.value" ng-click="CheckClaims(ClaimsPast3Years.value)">{{ClaimsPast3Years.label}}</md-radio-button>
        </md-radio-group>
        <div ng-show="showClaims_amount == true">
        <p>What was the total claimable amount? </p>
        <md-radio-group ng-model="policy.profil.TotalClaimAmount" layout="row">
          <md-radio-button ng-repeat="TotalClaimAmount in policy.param.TotalClaimAmount" ng-value="TotalClaimAmount.value" ng-click="CheckClaimsAmount(TotalClaimAmount.value)">{{TotalClaimAmount.label}}</md-radio-button>
        </md-radio-group>
        </div>
        <div ng-show="showClaims_number == true">
        <p>How many non windscreen claims? </p>
        <md-radio-group ng-model="policy.profil.NumberOfClaims" layout="row">
          <md-radio-button ng-repeat="NumberOfClaims in policy.param.NumberOfClaims" ng-value="NumberOfClaims.value" ng-click="CheckClaimsNumber(NumberOfClaims.value)">{{NumberOfClaims.label}}</md-radio-button>
        </md-radio-group>
        </div>
        <div ng-show="showClaims_number == true">
        <p>How many windscreen claims? </p>
        <md-radio-group ng-model="policy.profil.NumberOfWindscreenClaims" layout="row">
          <md-radio-button ng-repeat="NumberOfWindscreenClaims in policy.param.NumberOfWindscreenClaims" ng-click="CheckClaimsNumberWind(NumberOfWindscreenClaims.value)" ng-value="NumberOfWindscreenClaims.value">{{NumberOfWindscreenClaims.label}}</md-radio-button>
        </md-radio-group>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
</md-content>
<div layout="row" layout-align="end center">
  <md-button> See my premium </md-button>
</div>


