<md-content class="md-padding" style="background-image: url('/images/bg.jpg'); background-repeat: no-repeat; height: 100%; background-position-x: right;">
 <div layout="row"  layout-align="space-around center">
   <div flex="25">
    <md-toolbar class="md-primary">
     <div class="md-toolbar-tools">
       <h2 class="md-flex">Step 1 - Tell us about yourself</h2>
     </div>
   </md-toolbar>
    <md-content flex layout-padding>
     <ul layout-padding>
       <li> 9 simple questions to answer</li>
       <li> Less than 2 minutes to get a quote</li>
     </ul>
   </md-content>
   </div>
   <div flex="25">
     <md-toolbar class="md-primary">
       <div class="md-toolbar-tools">
         <h2 class="md-flex">Step 2 - Choose your plan</h2>
       </div>
     </md-toolbar>
     <md-content flex layout-padding>
       <ul layout-padding>
         <li> Clear plans comparison to ease your choice</li>
         <li> Professional advise on demand to help you make your choice</li>
       </ul>
     </md-content>
   </div>
 </div>

  <div layout="row"  layout-align="space-around center">
    <div flex="25"></div>
    <div flex="25">
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Step 3 - Customise your coverage</h2>
        </div>
      </md-toolbar>
      <md-content flex layout-padding>
        <ul layout-padding>
          <li> Value added packs to cover your specific driving habits</li>
          <li> Awesome options to cover that little things that make it tailored to you</li>
        </ul>
      </md-content>
    </div>
    <div flex="25">
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Step 4 - Policy details</h2>
        </div>
      </md-toolbar>
      <md-content flex layout-padding>
        <ul layout-padding>
          <li> The details of the car and drivers to be insured</li>
          <li> Fast and secure online payment</li>
        </ul>
      </md-content>
    </div>
  </div>


  <section layout="row" layout-sm="column" layout-align="center end" layout-wrap >
    <md-button href="#/home" >Build your cover now<br><i class="material-icons" href="#/home">&#xE313;</i></md-button>
   </section>
</md-content>



