<md-content class="md-padding" layout-xs="column" layout="row">
  <div layout="row" layout-sm="column" flex>
    <div flex="75" flex-sm="100">
      <md-card>
        <md-card-header class="md-padding">
          <md-card-header-text>
            <span class="md-title">Plans that suits you best</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <div layout="row">
            <p>Select a starting date</p>
            <md-datepicker ng-model="policy.PolicyStartDate" md-placeholder="Enter date" md-min-date="inceptionDate.min"
                           md-max-date="inceptionDate.max" ng-change="updatePolicyEndDate()"></md-datepicker>
            <p>End date</p>
            <md-datepicker ng-model="policy.PolicyEndDate" md-placeholder="Enter date" md-min-date="minDate"
                           md-max-date="maxDate" disabled></md-datepicker>
          </div>
          <md-tabs md-dynamic-height md-border-bottom>
            <!-- ###### TODO CC : DYNAMIQUE ProductName-->
            <md-tab label="{{ProductName}}" ng-repeat="ProductName in ['COMPREHENSIVE','TPFT','TPO']">
              <md-content class="md-padding">
                <div layout="row">
                  <div layout="column" flex="40"><p>Benefits</p>
                    <md-list-item ng-repeat="Benefit in benefitsList">
                      <p>{{ Benefit.label }}</p>
                    </md-list-item>
                  </div>
                  <div layout="column" flex="20" ng-repeat="Plan in product.Plans"><p>{{Plan.__Name}}</p>
                    <md-list-item ng-repeat="Benefit in benefitsList">
                      <md-checkbox ng-model="Plan.__Benefits[Benefit.value]" disabled></md-checkbox>
                    </md-list-item>
                    <md-list-item>
                      <md-button class="md-raised" ng-class="Plan.IsSelected ? 'md-primary' : ''">
                        {{Plan.UsualPremium}}
                      </md-button>
                    </md-list-item>
                  </div>
                </div>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-card-content>
      </md-card>
    </div>
    <div flex="25" flex-sm="100">
      <md-card>
        <md-card-header class="md-padding">
          <md-card-header-text>
            <span class="md-title">Your quote summary</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <h4>Your plan</h4>

          <div layout="row">
            <div flex="60">
              <p>{{plan.__Name}}</p>
            </div>
            <div flex="40">
              <p>$ {{plan.UsualPremium}}</p>
            </div>
          </div>
          <h4>Your discount</h4>

          <div layout="row" ng-repeat="discount in plan.Discounts">
            <div flex="60">
              <p>{{discount.__label}}</p>
            </div>
            <div flex="40">
              <p>$ {{discount.PayablePremium}}</p>
            </div>
          </div>

          <h4>Total</h4>

          <div layout="row">
            <div flex="60">
              <p>including GST</p>
            </div>
            <div flex="40">
              <h2>$ {{plan.FinalPremium}}</h2>
            </div>
          </div>
        </md-card-content>
        <div layout="column">
          <md-button> purchase this insurance</md-button>
          <md-button> Save and email my quote</md-button>
        </div>
      </md-card>
    </div>
  </div>
</md-content>
<div layout="row">
  <md-button href="/#/home">back</md-button>
</div>
