
<md-content style="background-color:transparent;" flex="auto">
  <div>
    <div class="md" hide-xs hide-sm style=" position:fixed; width: auto; top:30px; z-index: 2;">
      <div class="breadcrumb flat">
        <a href="#/home" md-active="isActive[0].active" ng-class="isActive[0].active ? 'selection' : ''">About you</a>
        <a href="#/offer" md-active="isActive[1].active" ng-class="isActive[1].active ? 'selection' : ''">Your plan</a>
        <a href="#/addon" md-active="isActive[2].active" ng-class="isActive[2].active ? 'selection' : ''">Custom add-ons</a>
        <a href="#/policy" md-active="isActive[3].active" ng-class="isActive[3].active ? 'selection' : ''">Policy</a>
        <a href="#/payment" md-active="isActive[4].active" ng-class="isActive[4].active ? 'selection' : ''">Payment</a></div>
    </div>
  </div>
  <div layout="row" layout-xs="column" layout-margin  layout-align="space-around center" >
    <div flex="33"  flex-xs="100" flex>
      <md-toolbar class="md-primary toolbar-border">
        <md-title layout-margin layout-padding>Car details</md-title>
      </md-toolbar>
      <md-content class="step shadow" layout-padding>
        <div layout="row">
          <md-input-container class="md-block" flex-gt-sm flex="45">
            <label><a>Car registration number</a></label>
            <input class="md-primary margin_two_inputs" ng-model="policy.profil.Vehicle.RegistrationNumber" required>
          </md-input-container>
          <md-input-container class="md-block" flex="45">
            <label><a>Seating capacity</a></label>
            <md-select ng-model="policy.policy.Vehicle.Seats" >
              <md-option class="md-primary preselect" ng-repeat="Seats in policy.param.Vehicle.Seats" ng-value="Seats.value">
                {{Seats.value}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block margin_two_inputs" flex-gt-sm flex="45">
            <label><a>Chassis number</a></label>
            <input class="md-primary" ng-model="policy.profil.Vehicle.ChassisNumber" required>
          </md-input-container>
          <md-input-container class="md-block margin_two_inputs" flex-gt-sm flex="45">
            <label><a>Engine number</a></label>
            <input class="md-primary" ng-model="policy.profil.Vehicle.EngineNumber" required>
          </md-input-container>
          <md-button class="md-fab md-primary md-block" aria-label="link to LTA" target="_blank"
                     href="https://vrl.lta.gov.sg/lta/vrl/action/pubfunc?ID=EnquireTransferFee">
            <md-tooltip class="white-tooltip">
              Click to find your chassis number on LTA website
            </md-tooltip>
            LTA
          </md-button>
        </div>
        <p class="input-down" layout-padding>Is your car financed with a loan?</p>
        <md-radio-group ng-model="policy.profil.Vehicle.HasFinanceLoan" layout="row" layout-padding
                        layout="start center" class="md-accent">
          <div flex="33" ng-repeat="HasFinanceLoan in policy.param.Vehicle.HasFinanceLoan">
            <md-radio-button class="md-accent" ng-value="HasFinanceLoan.value">{{HasFinanceLoan.label}}
            </md-radio-button>
          </div>
        </md-radio-group>
        <md-input-container class="md-block margin_two_inputs" ng-show="policy.profil.Vehicle.HasFinanceLoan == true"
                            layout-padding>
          <label><a>Select your loan company</a></label>
          <md-select ng-model="policy.profil.Vehicle.HasFinanceCompany">
            <md-option class="md-primary preselect" ng-repeat="HasFinanceCompany in policy.param.Vehicle.HasFinanceCompany">
              {{HasFinanceCompany}}
            </md-option>
          </md-select>
        </md-input-container>
        <p class="input-down" layout-padding>Is it your first time insured?</p>
        <md-radio-group ng-model="policy.profil.Vehicle.PrevCarInsured" layout="row" layout-padding
                        layout="start center">
          <div flex="33" ng-repeat="PrevCarInsured in policy.param.Vehicle.PrevCarInsured">
            <md-radio-button class="md-accent" ng-value="PrevCarInsured.value">{{PrevCarInsured.label}}
            </md-radio-button>
          </div>
        </md-radio-group>
        <md-input-container class="md-block margin_two_inputs" ng-show="policy.profil.Vehicle.PrevCarInsured == false"
                            layout-padding>
          <label><a>Select your previous insurer</a></label>
          <md-select ng-model="policy.profil.Vehicle.PrevCarInsurer">
            <md-option class="md-primary preselect" ng-repeat="PrevCarInsurer in policy.param.Vehicle.PrevCarInsurer">
              {{PrevCarInsurer}}
            </md-option>
          </md-select>
        </md-input-container>
      </md-content>
    </div>
    <div flex="33"  flex-xs="100" >
      <md-toolbar class="md-primary toolbar-border">
        <md-title layout-margin layout-padding>Policyholder details</md-title>
      </md-toolbar>
      <md-content class="step shadow" layout-padding>
        <p class="input-down">Is the main driver the policyholder </p>
        <md-radio-group layout="row" ng-model="policy.profil.IsMainDriverPolicyHolder" layout="start center">
          <div flex="33" ng-repeat="IsMainDriverPolicyHolder in policy.param.IsMainDriverPolicyHolder">
            <md-radio-button class="md-accent" class="md-primary" ng-value="IsMainDriverPolicyHolder.value">
              {{IsMainDriverPolicyHolder.label}}
            </md-radio-button>
          </div>
        </md-radio-group>
        <div ng-show="policy.profil.IsMainDriverPolicyHolder == false">

        </div>
        <form name="userForm">
          <div layout="row" >
            <md-input-container class="md-block " flex-gt-sm flex="50"
                                ng-show="policy.profil.IsMainDriverPolicyHolder == false">
              <label><a>Name</a></label>
              <input class="md-primary margin_two_inputs" name="name" ng-model="policy.profil.PolicyHolder.Surname"
                     required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm flex="50"
                                ng-show="policy.profil.IsMainDriverPolicyHolder == false">
              <label><a>Surname</a></label>
              <input class="md-primary margin_two_inputs" ng-model="policy.profil.PolicyHolder.GivenName">
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container class="md-block" flex-gt-sm flex="50"
                                ng-show="policy.profil.IsMainDriverPolicyHolder == false">
              <label><a>Nationality</a></label>
              <md-select ng-model="policy.profil.PolicyHolder.Nationality">
                <md-option class="md-primary preselect" ng-repeat="Nationality in policy.param.PolicyHolder.Nationality">
                  {{Nationality}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm flex="50"
                                ng-show="policy.profil.IsMainDriverPolicyHolder == false">
              <label><a>ID number</a></label>
              <input class="md-primary margin_two_inputs" ng-model="policy.profil.PolicyHolder.IDNumber">
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container class="md-block" flex-gt-sm flex="50">
              <label><a>Email</a></label>
              <input class="md-primary margin_two_inputs" name="email" required minlength="10" maxlength="100"
                     ng-pattern="/^.+@.+\..+$/" ng-model="policy.profil.PolicyHolder.Email"/>

              <div class="hint" ng-show="showHints"></div>
              <div ng-messages="userForm.email.$error" ng-hide="showHints">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  Your email must be between 10 and 100 characters long and look like an e-mail address.
                </div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm flex="50">
              <label><a>Phone number</a></label>
              <input class="md-primary margin_two_inputs" name="phone" required minlength="8" maxlength="8"
                     ng-pattern="" ng-model="policy.profil.PolicyHolder.Phone"/>

              <div class="hint" ng-show="showHints"></div>
              <div ng-messages="userForm.phone.$error" ng-hide="showHints">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  Enter a valid phone number.
                </div>
              </div>
            </md-input-container>
          </div>
          <md-input-container class="md-block">
            <label><a>Address</a></label>
            <input class="md-primary margin_two_inputs" ng-model="policy.profil.PolicyHolder.AddressLine1" required>
          </md-input-container>

          <div layout="row">
            <md-input-container class="md-block" flex="50">
              <label><a>Unit</a></label>
              <input ng-model="policy.profil.PolicyHolder.AddressLine2" class="margin_two_inputs" required>
            </md-input-container>

            <md-input-container class="md-block" flex="50">
              <label><a>Post code</a></label>
              <input class="md-primary margin_two_inputs" ng-model="policy.profil.PolicyHolder.PostalCode" required>
            </md-input-container>
          </div>
        </form>
      </md-content>
    </div>
    <div flex="33"  flex-xs="100" >

        <md-toolbar class="md-primary toolbar-border">
          <md-title layout-margin layout-padding>Drivers details</md-title>
        </md-toolbar>
        <md-content class="step shadow" layout-padding>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="driver in policy.profil.Drivers">
              <md-tab-label>
                <div layout="row"><i class="material-icons">person</i><a style="font-size:10px;">{{policy.param.Drivers.Title[$index].label}}</a>
                </div>
              </md-tab-label>
              <md-tab-body>
                <md-content class="md-padding">
                  <div layout="row" class="space-up">
                    <md-input-container class="md-block" flex-gt-sm flex="50">
                      <label><a>Name</a></label>
                      <input class="md-primary margin_two_inputs" ng-model="policy.profil.Drivers.GivenName" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm flex="50">
                      <label><a>Surname</a></label>
                      <input class="md-primary margin_two_inputs" ng-model="policy.profil.Drivers.Surname" required>
                    </md-input-container>
                  </div>
                  <div layout="row">
                    <md-input-container class="md-block" flex="50">
                      <label><a>Nationality</a></label>
                      <md-select ng-model="policy.profil.Drivers.Nationality">
                        <md-option class="md-primary preselect" ng-repeat="Nationality in policy.param.Drivers.Nationality">
                          {{Nationality}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm flex="50">
                      <label><a>ID number</a></label>
                      <input class="md-primary margin_two_inputs" ng-model="policy.profil.Drivers.IDNumber" required>
                    </md-input-container>
                  </div>
                  <form name="userForm">
                    <div layout="row">
                      <md-input-container class="md-block" flex-gt-sm flex="50"
                                          ng-show="policy.profil.PolicyHolder.IsCorporateClient == 'Corporate'">
                        <label><a>Email</a></label>
                        <input class="md-primary margin_two_inputs" name="email" required minlength="10" maxlength="100"
                               ng-pattern="/^.+@.+\..+$/" ng-model="policy.profil.Drivers.Email"/>

                        <div class="hint" ng-show="showHints"></div>
                        <div ng-messages="userForm.email.$error" ng-hide="showHints">
                          <div class="md-warn" ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                          </div>
                        </div>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm flex="50"
                                          ng-show="policy.profil.PolicyHolder.IsCorporateClient == 'Corporate'">
                        <label><a>Phone number</a></label>
                        <input class="md-primary margin_two_inputs" name="phone" required minlength="8" maxlength="8"
                               ng-pattern="" ng-model="policy.profil.Drivers.Phone"/>

                        <div class="hint" ng-show="showHints"></div>
                        <div ng-messages="userForm.phone.$error" ng-hide="showHints">
                          <div class="md-warn" ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Enter a valid phone number.
                          </div>
                        </div>
                      </md-input-container>
                    </div>

                    <md-select ng-model="policy.profil.Drivers.Occupation" placeholder="Occupation" class="input-up" layout-padding>
                      <md-option class="md-primary preselect" ng-repeat="Occupation in policy.param.Drivers.Occupation">
                        {{Occupation}}
                      </md-option>
                    </md-select>
                    <md-datepicker class="md-block " md-placeholder="Date of birth" md-min-date="minDate"
                                   md-max-date="maxDate"></md-datepicker>
                  </form>
                </md-content>
              </md-tab-body>
            </md-tab>
          </md-tabs>

        </md-content>
      </div>
  </div>
  <footer hide-xs>

    <md-button class=" md-raised md-primary action" href="#/offer" ng-disabled="!paymentIsEnabled()"
               ng-hide="policy.profil.ClaimsPast3Years == true " ng-click="breadcrumbStep5()">
      Buy now
    </md-button>

    <md-button class=" md-raised md-primary action" href="#/referral"
               ng-show="policy.profil.ClaimsPast3Years == true">
      Proceed
    </md-button>
    <md-button aria-label="menu" class="md-fab md-mini md-primary action action-fab">
      <md-icon md-svg-src="images/webchat.svg"></md-icon>
      <md-tooltip  class="white-tooltip" md-visible="demo.showTooltip" md-direction="left">
        Ask us a question
      </md-tooltip>
    </md-button>
  </footer>
  <footer hide-gt-xs>
    <div layout="row">
      <md-button layout="row" layout="center center" class="md-primary action action-back" href="#/addon"><i
        class="material-icons">keyboard_arrow_left</i>
      </md-button>

      <md-button aria-label="menu" class="md-fab md-mini md-primary  action-fab"ng-click="showAdvanced($event)">
        <md-icon md-svg-src="images/mail.svg"></md-icon>
      </md-button>
      <md-button aria-label="menu" class="md-fab md-mini md-primary  action-fab">
        <md-icon md-svg-src="images/webchat.svg"></md-icon>
      </md-button>
      <md-button class=" md-raised md-primary action" href="#/payment" ng-click="breadcrumbStep5()"> Buy now</md-button>

    </div>
  </footer>
</md-content>



